@charset "UTF-8";
@media screen and (max-width: 1100px) {
    .wrap {
        width: 100%;
        min-width: inherit;
    }
}

/* ie8 */
.skin_w_typo {
    min-width: inherit;
}

/* 스킨별 폰트 정의 */
.skin_wrap {
    background: none !important;
    word-break: break-all;
}

.skin_w_illust {
    font-family: "맑은 고딕", "Malgun Gothic", "나눔고딕", "NanumGothic", "NanumGothicWEB", "돋움", Dotum, "굴림", Gulim, sans-serif;
}

.skin_w_illust2 {
    font-family: 'Nanum Myeongjo', "맑은 고딕", "Malgun Gothic", "나눔고딕", "NanumGothic", "NanumGothicWEB", "돋움", Dotum, "굴림", Gulim, sans-serif;
}

.skin_w_luxury {
    font-family: 'Nanum Myeongjo', "맑은 고딕", "Malgun Gothic", "나눔고딕", "NanumGothic", "NanumGothicWEB", "돋움", Dotum, "굴림", Gulim, sans-serif;
}

.skin_w_simple {
    font-family: 'Nanum Myeongjo', "맑은 고딕", "Malgun Gothic", "나눔고딕", "NanumGothic", "NanumGothicWEB", "돋움", Dotum, "굴림", Gulim, sans-serif;
}

.skin_w_simple2 {
    font-family: 'Noto Sans KR', sans-serif;
}

.skin_w_photo {
    font-family: 'Noto Sans KR', sans-serif;
}

.skin_w_photo2 {
    font-family: "맑은 고딕", "Malgun Gothic", "나눔고딕", "NanumGothic", "NanumGothicWEB", "돋움", Dotum, "굴림", Gulim, sans-serif;
}

.skin_b_illust {
    font-family: "맑은 고딕", "Malgun Gothic", "나눔고딕", "NanumGothic", "NanumGothicWEB", "돋움", Dotum, "굴림", Gulim, sans-serif;
}

.skin_b_illust2 {
    font-family: "맑은 고딕", "Malgun Gothic", "나눔고딕", "NanumGothic", "NanumGothicWEB", "돋움", Dotum, "굴림", Gulim, sans-serif;
}

.skin_b_illust3 {
    font-family: "맑은 고딕", "Malgun Gothic", "나눔고딕", "NanumGothic", "NanumGothicWEB", "돋움", Dotum, "굴림", Gulim, sans-serif;
}

.skin_b_illust4 {
    font-family: "맑은 고딕", "Malgun Gothic", "나눔고딕", "NanumGothic", "NanumGothicWEB", "돋움", Dotum, "굴림", Gulim, sans-serif;
}

.skin_b_illust5 {
    font-family: "맑은 고딕", "Malgun Gothic", "나눔고딕", "NanumGothic", "NanumGothicWEB", "돋움", Dotum, "굴림", Gulim, sans-serif;
}

.skin_b_illust6 {
    font-family: "맑은 고딕", "Malgun Gothic", "나눔고딕", "NanumGothic", "NanumGothicWEB", "돋움", Dotum, "굴림", Gulim, sans-serif;
}

.skin_b_illust7 {
    font-family: "맑은 고딕", "Malgun Gothic", "나눔고딕", "NanumGothic", "NanumGothicWEB", "돋움", Dotum, "굴림", Gulim, sans-serif;
}

.skin_b_photo {
    font-family: 'Noto Sans KR', sans-serif;
}

.skin_b_simple {
    font-family: 'Noto Sans KR', sans-serif;
}

.skin_e_typo {
    font-family: 'Noto Sans KR', sans-serif;
}

.skin_e_simple {
    font-family: 'Noto Sans KR', sans-serif;
}

.skin_e_illust {
    font-family: 'Noto Sans KR', sans-serif;
}

.massage_list .txt span {
    display: inline-block;
    width: 95%;
}

.guestbook_close {
    position: absolute;
    right: 10px;
    top: 10px;
    background: url(../img_inc/btn_close.png) no-repeat center center #000;
    font-size: 0px;
    text-indent: -999px;
}

.guestbook_close a {
    display: block;
    width: 24px;
    height: 24px;
    padding: 5px;
}

.skin_w_typo .mobile_wrap {
    background: url(../skin/typo/bg_skin.png) repeat left top;
    background-size: 30px 30px;
    -webkit-background-size: 30px 30px;
    -moz-background-size: 30px 30px;
}

.mobile_wrap {
    min-width: 320px;
    text-align: center;
    min-height: 100px;
    margin: 0 auto;
}

.mobile_wrap img {
    max-width: 100%;
    vertical-align: middle;
}

.mobile_wrap .pages .bg_line {
    padding-bottom: 50px;
}

.mobile_wrap .pages h2 {
    padding: 30px 0px 8px 0px;
}

.mobile_wrap .btn {
    display: inline-block;
}

.mobile_wrap #location.h_navi .navi {
    display: none;
}

.mobile_wrap #location.h_navi .traffic_info {
    display: none;
}

.mobile_wrap #location.h_navi h3 {
    display: none;
}

#start .d_day {
    text-align: center;
    width: 100%;
    font-weight: bold;
}

#start .name {
    text-align: center;
    width: 100%;
    text-align: center;
    font-size: 0px;
}

#start .name li {
    display: inline-block;
    font-size: 16px;
    text-align: center;
    color: #000;
    text-align: center;
    line-height: 24px;
    padding: 0px 5px;
}

#start .name li img {
    vertical-align: middle;
}

#start .time {
    color: #09bb9c;
    font-weight: bold;
    padding: 25px 0px 10px 0px;
    text-transform: uppercase;
}

#start .address {
    font-size: 13px;
    color: #222222;
    padding: 0px 10px;
}

#start .address .input_floor {
    padding-left: 5px;
}

#start .input_time {
    padding-left: 10px;
}

#greeting {
    overflow: hidden;
}

#greeting .greeting {
    padding: 0px 25px 20px 25px;
    color: #000000;
    font-size: 13px;
    line-height: 140%;
}

#greeting dl {
    width: 50%;
    box-sizing: border-box;
    float: left;
    text-align: center;
    padding: 60px 0px 20px 0px;
    position: relative;
}

#greeting dl dt {
    padding: 10px;
    font-size: 17px;
    font-weight: bold;
    color: #000;
}

#greeting dl dt img {
    vertical-align: middle;
}

#greeting dl dd {
    display: inline-block;
    vertical-align: middle;
}

#greeting .parent_contect {
    clear: both;
    position: relative;
}

.parent_contect {
    clear: both;
    overflow: hidden;
}

.parent_contect > ul > li {
    float: left;
    width: 50%;
    text-align: center;
}

.parent_contect > ul > li > strong {
    display: block;
    font-weight: bold;
    font-size: 15px;
    height: 26px;
    line-height: 26px;
    padding: 7px 0px;
}

.parent_contect > ul > li > strong > span {
    display: block;
    font-size: 15px;
    height: 26px;
}

.parent_contect > ul > li > ul {
    margin: 15px 0px;
    color: #000;
}

.parent_contect > ul > li > ul.btn_contact_off > li {
    margin-bottom: 10px;
    padding-left: 10px;
}

.parent_contect .dot_line {
    background: url(../skin/typo/bg_dotline.png) repeat-y left top;
    background-size: 2px auto;
    -webkit-background-size: 2px auto;
    -moz-background-size: 2px auto;
}

.parent_contect li.wife strong {
    color: #ef5685;
}

.parent_contect .btn_contact {
    text-align: center;
    padding: 10px 0px;
}

.parent_contect .btn_contact li {
    display: inline-block;
}

.parent_contect .blue {
    color: #469dcf;
}

.parent_contect .pink {
    color: #ef5685;
}

.parent_contect .btn_toggle {
    position: absolute;
    right: 8px;
    top: 12px;
    overflow: hidden;
}

.parent_contect .btn_toggle a {
    display: block;
    width: 18px;
    height: 18px;
    background-size: 18px auto;
    -webkit-background-size: 18px auto;
    -moz-background-size: 18px auto;
    overflow: hidden;
}

.parent_contect .btn_toggle.off a {
    background-position: center -19px !important;
}

#movie a {
    color: #666;
}

#movie .b_talign_c.b_mt20 {
    display: none;
}

#movie .input_movie {
    padding: 0px 17px;
}

#movie .input_movie iframe {
    width: 100% !important;
    height: 260px !important;
    z-index: -1;
}

#location .map_wrap {
    margin: 15px;
    line-height: 10%;
    box-sizing: border-box;
    border: 4px solid #fff;
}

#location .map_wrap img {
    width: 100% !important;
    height: auto !important;
    box-sizing: border-box;
}

#location .map_wrap iframe {
    width: 100% !important;
    height: 200px !important;
    box-sizing: border-box;
}

#location .address {
    padding-left: 20px;
    min-height: 60px;
    padding-right: 75px;
    text-align: left;
    position: relative;
}

#location .address dt {
    font-size: 15px;
    font-weight: bold;
    color: #000;
    padding-bottom: 5px;
}

#location .address dd {
    font-size: 15px;
    line-height: 150%;
}

#location .address dd.icon_tel {
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -26px;
}

#location .navi {
    text-align: center;
    padding: 10px 0px;
    display: block;
}

#location .navi li {
    display: inline-block;
    padding: 0px 5px;
}

#location .navi li .txt {
    display: block;
    padding-top: 5px;
}

#location .hall_info {
    text-align: left;
    padding: 10px 15px;
}

#location .hall_info li {
    padding-left: 10px;
    padding-bottom: 5px;
    line-height: 140%;
}

#location .hall_info li > strong {
    vertical-align: top;
    color: #000;
    display: block;
    min-width: 100px;
    font-weight: bold;
    background: url(../skin/typo/bul_navi.png) no-repeat left 9px;
    background-size: 4px auto;
    -webkit-background-size: 4px auto;
    -moz-background-size: 4px auto;
    margin-left: -10px;
    padding-left: 10px;
}

#location .hall_info li > span {
    display: inline-block;
}

#location .traffic_info {
    text-align: center;
    padding: 10px 0px;
}

#location .traffic_info li {
    display: inline-block;
    padding: 0px 8px;
}

#location .traffic_info li .txt {
    display: block;
    padding-top: 5px;
}

#location table td, #location table th {
    border: none;
    padding: 2px 0px;
}

#location table td strong {
    color: #000;
    display: inline-block;
    min-width: 100px;
}

#location table th {
    padding-left: 10px;
    background: url(../skin/typo/bul_navi.png) no-repeat left 9px;
    background-size: 4px auto;
    -webkit-background-size: 4px auto;
    -moz-background-size: 4px auto;
    line-height: 150%;
}

.skin_gallery {
    overflow: hidden;
    padding: 10px;
}

.skin_gallery figure {
    float: left;
    width: 33.33%;
    box-sizing: border-box;
    padding: 7px;
}

.skin_gallery figure a {
    background-size: cover !important;
    cursor: default;
    display: block;
}

.skin_gallery figure .img_frame {
    width: 100%;
    vertical-align: top;
}

#gallery .pswp__button--share, #gallery .pswp__button--fs {
    display: none;
}

#gallery_type2 {
    display: none;
}

#gallery_type2 > ul > li {
    padding: 3px 3px;
}

#gift {
    padding-bottom: 0px;
}

#gift .gift_list {
    overflow: hidden;
    box-sizing: border-box;
    padding: 10px 15px;
}

#gift .gift_list li {
    float: left;
    width: 33.33%;
    padding: 0px 5px 10px 5px;
    box-sizing: border-box;
}

#gift .gift_list li .photo {
    display: block;
    background: #fff;
    margin-bottom: 5px;
    box-sizing: border-box;
}

#gift .gift_list li .txt_a {
    display: block;
    font-size: 13px;
    min-height: 45px;
}

#gift .gift_list li strong {
    display: block;
    min-height: 20px;
    line-height: 20px;
    font-size: 11px;
    letter-spacing: -1px;
}

.gift_more {
    text-align: center;
    border-top: 2px solid #fff;
    padding-bottom: 15px;
}

.gift_more a {
    display: inline-block;
    background: #fff;
    padding: 7px 15px;
    border-radius: 0px 0px 3px 3px;
    font-weight: bold;
    font-size: 14px;
}


#guest_book {
    box-sizing: border-box;
    padding: 0px 15px 20px 15px;
}

#guest_book .txt {
    color: #fff;
    font-size: 14px;
    padding-bottom: 10px;
}

#guest_book .massage_box {
    padding: 10px;
    background: #fff;
    border-radius: 5px;
    text-align: left;
}

#guest_book .massage_box li {
    border-top: 1px solid #e0dcd3;
    min-height: 30px;
    position: relative;
    padding-left: 80px;
    line-height: 30px;
}

#guest_book .massage_box li span.tt {
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
}

#guest_book .massage_box li:first-child {
    border-top: 0px !important;
}

#guest_book .massage_box li input {
    border: none !important;
    background: none !important;
    color: #000;
    box-sizing: border-box;
    padding-left: 5px;
    width: 95%;
}

.btn_write {
    margin: 10px 0px 0px 0px;
}

.btn_write a {
    color: #fff;
    font-weight: bold;
    border-radius: 4px;
    display: block;
    box-sizing: border-box;
    background: #231815;
    padding: 10px;
    min-height: 20px;
    line-height: 20px;
}

#guest_book .massage_list {
    padding: 10px;
    font-size: 12px;
    background: #fff;
    border-radius: 5px;
    text-align: left;
    position: relative;
    margin-top: 10px;
}

#guest_book .massage_list .name {
    font-weight: bold;
    font-size: 14px;
    color: #000;
    padding-bottom: 10px
}

#guest_book .massage_list .txt {
    color: #000;
    min-height: 20px;
    position: relative;
    padding-bottom: 0px;
}

#guest_book .massage_list .txt .txt_del {
    position: absolute;
    right: 0px;
    top: 0px;
}

#guest_book .massage_list .txt .txt_del a {
    display: block;
    width: 10px;
    height: 10px;
    text-indent: -999%;
    font-size: 0px;
}

#guest_book .massage_list .time {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #b68947;
    padding-left: 13px;
}

#guest_book .password_input {
    display: none;
}

#guest_book .password {
    margin: 10px 0px 0px 0px;
    border: 1px solid #999;
    padding: 3px;
    border-radius: 6px;
}

#guest_book .password input {
    padding: 0px;
    padding: 5px;
    border: none;
    width: 100%;
    box-sizing: border-box;
    background: none !important;
}

/*토스*/
#toss_a {
    padding: 60px 0px;
}

#popup {
    margin: 5%;
}

#popup .b-close {
    float: right;
    margin-top: -40px;
}

#popup .content {
    background: url(../img_inc/toss_v_bg.png) repeat-y center top;
    text-align: center;
    color: #2e2e2e
}

.popW {
    padding-bottom: 40px;
    overflow: hidden
}

.popW .tit {
    padding-top: 50px;
}

.popW .greeting {
    padding-top: 30px;
    line-height: 150%;
}

.popW .from {
    padding-top: 30px;
    letter-spacing: -2px;
}

.popW .from .dot_l {
    padding-left: 15px;
    background: url(../img_inc/toss_from.png) no-repeat left 8px;
}

.popW .from .dot_r {
    padding-right: 15px;
    background: url(../img_inc/toss_from.png) no-repeat right 8px;
}

.toss_v_btn {
    padding-top: 50px;
}

.toss_v_btn li {
    float: left;
    width: 50%;
}

.popW img {
    width: 100%;
}


.massage_btn {
    overflow: hidden;
    padding-top: 20px;
}

.mobile_wrap .footer {
    background: #f7f7f7;
    margin: 15% 0 0 0;
}

.footer .sns_a {
    font-size: 0px;
    background-color: #999;
}

.footer .sns_a li {
    display: inline-block;
    width: 25%;
}

.footer .sns_a li a {
    display: block;
    padding: 0px 3px;
}

.footer .ci {
    padding: 20px 0;
    text-align: center;
}

.information {
    clear: both;
    padding: 10px 0px;
}

.input_guidebook {
    font-size: 14px;
    line-height: 130%;
    padding: 0px 10%;
    text-align: left
}

/* photo */
.skin_w_photo .common_img_line {
    height: 5px;
    background: url(../skin/photo/bg_pattern2.png) repeat-x left top;
    background-size: 11px auto;
    -webkit-background-size: 11px auto;
    -moz-background-size: 11px auto;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
}

.skin_w_photo .pages {
    position: relative;
}

.skin_w_photo #start {
    background: none;
}

.skin_w_photo #start .visual {
    position: relative;
    margin-top: -12%;
}

.skin_w_photo #start .position {
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 10%;
}

.skin_w_photo #start .d_day {
    line-height: 25px;
    text-align: center;
    font-size: 23px;
    min-height: 25px;
    padding: 0px 0px 5px 0px;
    color: #6c92b2;
    position: absolute;
    right: 0px;
    top: 25%;
    width: 100%;
}

.skin_w_photo #start .name li {
    color: #333333;
    font-size: 17px;
    padding: 10px 5px 5px 5px;
}

.skin_w_photo #start .time {
    color: #000000;
    padding: 10px 0px 10px 0px;
}

.skin_w_photo #start .address {
    color: #000000;
}

.skin_w_photo #greeting {
    background: url(../skin/photo/bg_greeting.png) repeat center top;
    background-size: 480px auto;
    -webkit-background-size: 480px auto;
    -moz-background-size: 480px auto;
}

.skin_w_photo #greeting dl {
    background: url(../skin/photo/img_husband.png) no-repeat center top;
    background-size: 59px auto;
    -webkit-background-size: 59px auto;
    -moz-background-size: 59px auto;
}

.skin_w_photo #greeting dl.wife {
    background: url(../skin/photo/img_wife.png) no-repeat center top;
    background-size: 59px auto;
    -webkit-background-size: 59px auto;
    -moz-background-size: 59px auto;
}

.skin_w_photo #greeting dl dt .input_husband {
    font-weight: normal;
}

.skin_w_photo #greeting dl dt .input_wife {
    font-weight: normal;
}

.skin_w_photo #greeting dl dd.center_n {
    position: absolute;
    right: 0%;
    top: 14px;
    margin-right: -19px;
    padding: 0px;
}

.skin_w_photo #greeting dl dd {
    padding: 0px 4px;
}

.skin_w_photo #greeting .greeting {
    padding-bottom: 30px;
}

.skin_w_photo .parent_contect > ul > li > strong {
    background: #f5ebee;
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc
}

.skin_w_photo .parent_contect > ul > li.husband > strong {
    color: #357ce7
}

.skin_w_photo .parent_contect > ul > li > strong {
    webkit-box-shadow: 1px 3px 3px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 1px 3px 3px 0 rgba(0, 0, 0, 0.1);
}

.skin_w_photo .parent_contect .dot_line {
    background: url(../skin/photo/bg_dotline.png) repeat-y left top;
    background-size: 1px 5px;
    -webkit-background-size: 1px 5px;
    -moz-background-size: 1px 5px;
}

.skin_w_photo .parent_contect .btn_contact li {
    padding: 0px 5px;
}

.skin_w_photo .parent_contect .btn_toggle a {
    background: url(../skin/photo/btn_toggle.png) no-repeat center top;
    background-size: 18px auto;
    -webkit-background-size: 18px auto;
    -moz-background-size: 18px auto;
    overflow: hidden;
}

.skin_w_photo .parent_contect .blue {
    color: #000;
    font-weight: bold;
}

.skin_w_photo .parent_contect .pink {
    color: #000;
    font-weight: bold;
}

.skin_w_photo #gallery {
    padding-bottom: 20px;
    background: url(../skin/photo/bg_gallery.png) repeat center top;
    background-size: 480px auto;
    -webkit-background-size: 480px auto;
    -moz-background-size: 480px auto;
}

.skin_w_photo .no_gallery {
    color: #fff;
}

.skin_w_photo #movie {
    padding-bottom: 30px;
    background: url(../skin/photo/bg_movie.png) repeat center top;
    background-size: 480px auto;
    -webkit-background-size: 480px auto;
    -moz-background-size: 480px auto;
}

.skin_w_photo .btn {
    color: #000;
    background: #f3f2f0;
    min-height: 26px;
    text-align: left;
    line-height: 26px;
    min-width: 103px;
    border-radius: 30px;
    border: 2px solid #fff;
    box-sizing: border-box;
}

.skin_w_photo .btn a {
    font-weight: bold;
}

.skin_w_photo #movie .btn a.full {
    background: url(../skin/photo/icon_full2.png) no-repeat 15px center;
    background-size: 12px auto;
    -webkit-background-size: 12px auto;
    -moz-background-size: 12px auto;
    padding: 0px 20px 0px 35px;
}

.skin_w_photo #location {
    padding-bottom: 20px;
    background: url(../skin/photo/bg_location.png) repeat center top;
    background-size: 480px auto;
    -webkit-background-size: 480px auto;
    -moz-background-size: 480px auto;
}

.skin_w_photo #location a {
    color: #000;
}

.skin_w_photo #location .address dt {
    color: #000;
}

.skin_w_photo #location .address dd {
    color: #000;
}

.skin_w_photo #location .hall_info > li > strong {
    background: url(../skin/photo/bul_navi.png) no-repeat left 9px;
    background-size: 6px auto;
    -webkit-background-size: 6px auto;
    -moz-background-size: 6px auto;
}

.skin_w_photo #location .hall_info > li > span {
    display: inline-block;
    color: #000;
}

.skin_w_photo #gift {
    background: url(../skin/photo/bg_gift.png) repeat center top;
    background-size: 480px auto;
    -webkit-background-size: 480px auto;
    -moz-background-size: 480px auto;
}

.skin_w_photo #gift .gift_list li .photo {
    border: 1px solid #cc6600;
    line-height: 0px;
}

.skin_w_photo #gift .gift_list li strong {
    line-height: 26px;
    color: #fff;
    border: 2px solid #ff9900;
    background: #ff9900;
    border-radius: 30px;
}

.skin_w_photo #gift .gift_list li strong.on {
    border: 2px solid #999999;
    background: #999999;
}

.skin_w_photo .gift_more {
    background: url(../skin/photo/bg_gift_more.png) repeat left top;
    background-size: 70px auto;
    -webkit-background-size: 70px auto;
    -moz-background-size: 70px auto;
    border-top: 2px solid #fff
}

.skin_w_photo .gift_more a {
    color: #000000;
    background: #fff;
    webkit-box-shadow: 0px 3px 3px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 3px 0 rgba(0, 0, 0, 0.2);
}

.skin_w_photo #guest_book {
    padding-bottom: 30px;
    background: url(../skin/photo/bg_guest_book.png) repeat center top;
    background-size: 480px auto;
    -webkit-background-size: 480px auto;
    -moz-background-size: 480px auto;
}

.skin_w_photo #guest_book .btn_write a {
    background: #5d4c96
}

.skin_w_photo #guest_book .txt {
    color: #000
}

.skin_w_photo #guest_book .massage_list .txt .txt_del a {
    background: url(../skin/photo/btn_x.png) no-repeat left top;
    background-size: 21px auto;
    -webkit-background-size: 21px auto;
    -moz-background-size: 21px auto;
    width: 21px;
    height: 21px;
}

.skin_w_photo #guest_book .massage_list .time {
    background: url(../skin/photo/icon_time.png) no-repeat left 3px;
    background-size: 9px auto;
    -webkit-background-size: 9px auto;
    -moz-background-size: 9px auto;
    color: #666666
}

.skin_w_photo #guest_book .btn {
    overflow: hidden;
    width: 100%;
    border-radius: 4px;
    border: 2px solid #231815;
}

.skin_w_photo #guest_book .btn a {
    color: #fff;
    display: block;
    line-height: 26px;
    text-align: center;
    background: #231815;
}

.skin_w_photo .massage_btn li {
    float: right;
    width: 49%;
    box-sizing: border-box;
    border: 2px solid #5d4c96;
    border-radius: 4px;
}

.skin_w_photo .massage_btn li a {
    color: #5d4c96;
    text-align: center;
    font-weight: bold;
    display: block;
    padding: 10px 5px;
}

.skin_w_photo .massage_btn li a span {
    display: inline-block;
    min-height: 20px;
    line-height: 20px;
    padding-left: 20px;
    background: url(../skin/photo/icon_full.png) no-repeat left center;
    background-size: 14px auto;
    -webkit-background-size: 14px auto;
    -moz-background-size: 14px auto;
}

.skin_w_photo .massage_btn li.more {
    float: left;
    background: #5d4c96;
    border: 2px solid #5d4c96
}

.skin_w_photo .massage_btn li.more a {
    color: #fff;
}

.skin_w_photo .massage_btn li.more a span {
    background: url(../skin/photo/icon_more.png) no-repeat left center;
    background-size: 13px auto;
    -webkit-background-size: 13px auto;
    -moz-background-size: 13px auto;
}


/* skin_w_photo2 */
.skin_w_photo2 #start {
    background: url(../skin/w_photo1/bg_start.png) repeat left top;
    background-size: 15px auto;
    -webkit-background-size: 15px auto;
    -moz-background-size: 15px auto;
}

.skin_w_photo2 h2 {
    padding: 0px !important;
}

.skin_w_photo2 #start .s_t_date {
    padding: 20px 0px 20px 15px;
    position: relative;
}

.skin_w_photo2 #start .s_t_date p {
    text-align: left;
}

.skin_w_photo2 #start .s_t_date p.date {
    padding-top: 10px;
}

.skin_w_photo2 #start .s_t_date .label {
    position: absolute;
    top: 0px;
    right: 0px;
}

.skin_w_photo2 #start .s_t_date .label .dday {
    position: relative;
}

.skin_w_photo2 #start .s_t_date .label p {
    position: absolute;
    top: -68px;
    right: 10px;
}

.skin_w_photo2 #start .s_t_date .label p img {
    display: block;
}

.skin_w_photo2 #start .conT {
    background: #FFF;
    border-top: 13px solid #ffc854;
    border-bottom: 13px solid #36486c;
    padding: 15px 20px 0px 15px;
    position: relative
}

.skin_w_photo2 #start .conT .name {
    text-align: left;
}

.skin_w_photo2 #start .conT .name li {
    padding: 0px;
    color: #272727;
    font-size: 30px;
    line-height: 50px;
}

.skin_w_photo2 #start .conT .name .hart {
    padding: 5%;
}

.skin_w_photo2 #start .conT .name .input_husband {
    background: url(../skin/w_photo1/h_groom.png) no-repeat 3px top;
    background-size: 50px auto;
    -webkit-background-size: 50px auto;
    -moz-background-size: 50px auto;
    padding-top: 15px;
    font-size: 23px;
    line-height: 110%;
    text-align: left;
    min-width: 20%
}

.skin_w_photo2 #start .conT .name .input_wife {
    background: url(../skin/w_photo1/h_bride.png) no-repeat 3px top;
    background-size: 50px auto;
    -webkit-background-size: 50px auto;
    -moz-background-size: 50px auto;
    padding-top: 15px;
    font-size: 23px;
    line-height: 110%;
    text-align: left;
    min-width: 20%
}

.skin_w_photo2 #start .conT .line {
    text-align: left;
    padding: 5% 0% 0% 0%;
}

.skin_w_photo2 #start .conT .text_line {
    position: absolute;
    top: 8%;
    right: 10px;
}

.skin_w_photo2 #start .d_day {
    background: url(../skin/w_photo1/bg_d_day.png) no-repeat center top;
    background-size: 120px auto;
    -webkit-background-size: 120px auto;
    -moz-background-size: 120px auto;
    height: 40px;
    line-height: 80px;
    padding: 8px 0px 15px 0px;
    font-size: 2.5em;
    letter-spacing: 1px;
    color: #1f8850;
    margin: 60px 0px 30px 0px;
}

.skin_w_photo2 #start .time {
    text-align: left;
    color: #3b3b3b;
    font-size: 1.1em;
    padding: 10px 0px 10px 0px;
    letter-spacing: 0.2px;
}

.skin_w_photo2 #start .time .input_time {
    color: #36486c
}

.skin_w_photo2 #start .input_minute {
    color: #36486c
}

.skin_w_photo2 #start .input_time_ch {
    color: #36486c
}

.skin_w_photo2 #start .address {
    width: 85%;
    line-height: 130%;
    text-align: left;
    color: #868686;
    font-size: 1.1em;
    letter-spacing: -0.8px;
    font-family: "맑은 고딕";
    padding-left: 0px;
    padding-bottom: 20px;
}


.skin_w_photo2 #greeting {
    background: #fbfaf7;
}

.skin_w_photo2 #greeting .greeting {
    color: #777777;
    font-family: "맑은 고딕";
    padding: 0%;
    margin: 0% 10%;
    line-height: 170%;
    font-size: 1.0em;
}

.skin_w_photo2 #greeting .callW {
    position: relative;
    height: 100px;
}

.skin_w_photo2 #greeting .line {
    position: absolute;
    top: 20%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.skin_w_photo2 #greeting dl {
    padding-top: 0px;
}

.skin_w_photo2 #greeting dl dt span {
    display: block;
    font-family: "맑은 고딕";
    font-size: 1.3em;
    font-weight: 400;
}

.skin_w_photo2 .parent_contect {
    font-family: "맑은 고딕";
    font-weight: 500
}

.skin_w_photo2 .parent_contect ul li span.parent {
    display: block;
    border-bottom: 1px solid #232323;
    padding: 10px 0px;
}

.skin_w_photo2 .parent_contect .btn_toggle {
    top: 20px;
    right: 15px;
}

.skin_w_photo2 .parent_contect .btn_toggle a {
    width: 20px;
    height: 20px;
    background: url(../skin/w_photo1/btn_toggle.png) no-repeat center top;
    background-size: 20px auto;
    -webkit-background-size: 20px auto;
    -moz-background-size: 20px auto;
    overflow: hidden;
}

.skin_w_photo2 .parent_contect .husband_c {
    color: #0086a7;
}

.skin_w_photo2 .parent_contect .parent_c {
    color: #ffc854;
}

.skin_w_photo2 #gallery {
    background: #36486c;
    padding-bottom: 30px;
}

.skin_w_photo2 #gallery .skin_gallery {
    margin: 2% 0%;
}

.skin_w_photo2 #gallery #gallery_type2 {
    margin-top: 20px;
}

.skin_w_photo2 #movie {
    padding-bottom: 20px;
}

.skin_w_photo2 #movie h2 {
    margin-bottom: 30px;
}

.skin_w_photo2 .btn {
    color: #fff;
    height: 26px;
    line-height: 26px;
    min-width: 103px;
    text-align: center;
    background: url(../skin/w_photo1/bg_btn.png) no-repeat center top;
    background-size: auto 25px;
    -webkit-background-size: auto 25px;
    -moz-background-size: auto 25px;
}

.skin_w_photo2 .btn a {
    color: #fff;
    display: block;
    font-weight: bold;
}

.skin_w_photo2 .btn a.full {
    background: url(../skin/w_photo1/icon_full2.png) no-repeat 90% center;
    background-size: 12px auto;
    -webkit-background-size: 12px auto;
    -moz-background-size: 12px auto;
}

.skin_w_photo2 #movie .btn a {
    text-align: left;
    text-indent: 14px;
}

.skin_w_photo2 #location {
    background: #f7f7f7;
    padding-bottom: 30px;
    position: relative;
}

.skin_w_photo2 #location .mapW {
    position: relative;
    background: url(../skin/w_photo1/location_bg.png) no-repeat top left;
    padding-bottom: 30px;
    background-size: auto 240px;
    -webkit-background-size: auto 240px;
    -moz-background-size: auto 240px;
}

.skin_w_photo2 #location .mapW .navi2 {
    display: inline-block;
    position: absolute;
    bottom: 10px;
    right: 15px;
}

.skin_w_photo2 #location .address {
    padding-top: 10%;
}

.skin_w_photo2 #location .address dt {
    color: #0086a7;
    letter-spacing: 0.3px;
}

.skin_w_photo2 #location .address dd {
    color: #5c8162;
    font-family: "맑은 고딕";
    letter-spacing: -0.8px;
}

.skin_w_photo2 #location .address dd.icon_tel {
    position: absolute;
    right: 15px;
    bottom: 0%;
    margin-top: -26px;
    top: auto
}

.skin_w_photo2 #location .hall_info {
    padding-left: 10px;
}

.skin_w_photo2 #location .hall_info > li > strong {
    color: #0086a7;
    background: none;
    letter-spacing: 0.3px;
    font-size: 1.0em;
}

.skin_w_photo2 #location .hall_info > li > span {
    display: inline-block;
    color: #676767;
    font-family: "맑은 고딕";
    letter-spacing: 0.3px;
}

.skin_w_photo2 #location .traffic_info {
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
    overflow: hidden;
    height: 85px;
}

.skin_w_photo2 #location .traffic_info li {
    display: block;
    position: relative;
}

.skin_w_photo2 #location .traffic_info strong {
    color: #00a79d;
    display: inline-block;
    min-width: 50px;
    background: #f7f7f7;
    letter-spacing: 0.3px;
    font-weight: 600;
    font-size: 1.0em;
}

.skin_w_photo2 #location .traffic_info li .txt {
    display: inline-block;
    font-family: "맑은 고딕";
    letter-spacing: 0.3px;
    padding-left: 5px;
    text-decoration: underline;
}

.skin_w_photo2 #location .traffic_info {
    width: 90%;
    background: url(../skin/w_photo1/traffic_info_bg.png) repeat-x center 40%;
}

.skin_w_photo2 #location .traffic_info li {
    float: right;
    text-align: left;
    padding: 0px;
}

.skin_w_photo2 #gift {
    background: url(../skin/w_photo1/bg_gift.png) repeat left top;
    background-size: 15px auto;
    -webkit-background-size: 15px auto;
    -moz-background-size: 15px auto;
}

.skin_w_photo2 #gift .gift_list li strong {
    color: #fff;
    height: 26px;
    line-height: 26px;
    text-align: center;
    background: url(../skin/w_photo1/bg_btn.png) no-repeat center top;
    background-size: 87px 25px;
    -webkit-background-size: 87px 25px;
    -moz-background-size: 87px 25px;
}

.skin_w_photo2 #gift .gift_list li strong.on {
    background: url(../skin/w_photo1/bg_btn_on.png) no-repeat center top;
    background-size: 87px 25px;
    -webkit-background-size: 87px 25px;
    -moz-background-size: 87px 25px;
}

.skin_w_photo2 .gift_more {
    background: url(../skin/w_photo1/bg_more.png) repeat left top;
    background-size: 16px auto;
    -webkit-background-size: 16px auto;
    -moz-background-size: 16px auto;
}

.skin_w_photo2 .gift_more a {
    color: #fc7a1a
}

.skin_w_photo2 #guest_book {
    padding: 0px 0px 30px 0px;
    width: 100%;
}

.skin_w_photo2 #guest_book > p.txt {
    padding-top: 10px;
    color: #929292;
    font-family: "맑은 고딕";
    letter-spacing: 0.3px;
    font-weight: 600;
}

.skin_w_photo2 #guest_book .massage_box {
    width: 80%;
    margin: auto 0;
    text-align: center;
    display: inline-block;
    padding: 15px;
    position: relative;
    background: #00a79d;
    margin-bottom: 30px;
}

.skin_w_photo2 #guest_book .massage_box .btn_write {
    display: inline-block;
    float: right
}

.skin_w_photo2 #guest_book .massage_box .btn_write a {
    display: inline-block;
    margin: auto 0;
    padding: 0px;
    background: none;
}

.skin_w_photo2 #guest_book .massage_box li span.tt {
    color: #fff;
    font-family: "맑은 고딕";
    letter-spacing: 0.3px;
    font-weight: 600;
    top: auto;
}

.skin_w_photo2 #guest_book .massage_box li {
    border-bottom: 1px solid #fff;
    color: #fff;
    border-top: none;
    padding-top: 5px;
    padding-bottom: 5px;
}

.skin_w_photo2 #guest_book .massage_box li input {
    color: #fff;
}

.skin_w_photo2 #guest_book .massage_box .massage_tit {
    position: absolute;
    bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.skin_w_photo2 #guest_book .massage_list {
    width: 80%;
    margin: auto 0;
    display: inline-block;
    padding: 15px;
    margin-top: 15px;
    background: #0086a7
}

.skin_w_photo2 #guest_book .massage_list .name {
    color: #fff;
    font-size: 1.4em;
    font-weight: 500;
    font-family: "맑은 고딕";
    letter-spacing: 0.3px;
}

.skin_w_photo2 #guest_book .massage_list .txt .txt_del a {
    width: 15px;
    height: 15px;
    background: url(../skin/w_photo1/btn_x.png) no-repeat left top;
    background-size: 15px auto;
    -webkit-background-size: 15px auto;
    -moz-background-size: 15px auto;
}

.skin_w_photo2 #guest_book .massage_list .time {
    font-family: "맑은 고딕";
    letter-spacing: 0.3px;
    background: url(../skin/w_photo1/icon_time.png) no-repeat left 3px;
    background-size: 10px auto;
    -webkit-background-size: 10px auto;
    -moz-background-size: 10px auto;
    color: #fff;
    top: 17px;
}

.skin_w_photo2 #guest_book .massage_list .txt {
    font-family: "맑은 고딕";
    letter-spacing: 0.3px;
    color: #fff
}

.skin_w_photo2 #guest_book .massage_list .txt span {
    display: inline-block;
    width: 90%;
}

.skin_w_photo2 #guest_book .password {
    border: 1px solid #fff;
}

.skin_w_photo2 #guest_book .password input {
    color: #fff
}

.skin_w_photo2 .massage_btn li {
    display: inline-block;
    font-family: "맑은 고딕";
    letter-spacing: 0.3px;
}

.skin_w_photo2 .massage_btn li a {
    display: block;
}

.cf:after {
    clear: both;
    content: '';
    display: block;
}

.cf:after {
    clear: both;
    content: '';
    display: block;
}

.wrap .remittance .remittance_btn_bx {
    width: 80%;
    margin: 0 auto;
}

.wrap .remittance .remittance_btn_bx .btn_bx_1 {
    width: 47.5%;
    padding: 0;
    width: 80%;
    margin: 0 auto;
}

.wrap .remittance .remittance_btn_bx .btn_bx_2 {
    width: 47.5%;
    padding: 0;
    padding-top: 6%;
    width: 80%;
    margin: 0 auto;
}

.wrap .remittance .remittance_btn_bx p > span {
    font-weight: 600;
    font-size: 17px;
    color: #3b3b3b;
    display: inline-block;
    line-height: 40px;
    display: none;
}

.wrap .remittance .remittance_btn_bx p > a {
    margin: 0;
    width: 90%;
}

.wrap .remittance_pop_h, .wrap .remittance_pop_w {
    top: -10%;
}