<!DOCTYPE html>
<!-- 확인:브라우져 디버그 추가 -->
<html lang="ko">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=0.5,maximum-scale=2.0,user-scalable=yes">
    <META NAME="ROBOTS" CONTENT="NOINDEX">


    <meta property="og:url" content="https://mcard.barunnfamily.com/B3080631"/>
    <meta property="og:title" content="남용 ♥️ 문주 결혼합니다! &#129498;‍♀️&#129498;‍♂️"/>
    <meta property="og:type" content="website"
    <meta property="og:image" content="https://mcard.barunnfamily.com//Photos/202101/B3080631/mainimage.jpg?eb762bd7-e229-4af2-9a5d-e0b2ee7273b8&ipignore=true"/>


    <meta property="og:image:width" content="800"/>
    <meta property="og:image:height" content="533"/>
    <meta property="og:description" content="남용문주 모바일청첩장"/>

    <meta property="fb:app_id" content="555274031340396"/>

    <title>남용문주 모바일초대장</title>
    <link href="../static/resources/css/common.css" rel="stylesheet"/>

    <link href="../static/resources/css/layout_skin.css" rel="stylesheet"/>

    <link rel="stylesheet" href="../static/resources/css/ui/photoswipe.css">
    <link rel="stylesheet" href="../static/resources/css/baekchos.css">


    <link href="https://fonts.googleapis.com/css?family=Nanum+Myeongjo:400,700,800" rel="stylesheet">

    <script src="../static/public/js/jquery_1.9.1.min.js"></script>
    <!--확인:jquery 버젼 정의-->

    <script type="text/javascript" src="../static/public/js/ui/photoswipe.js"></script>
    <script type="text/javascript" src="../static/public/js/ui/photoswipe-ui-default.min.js"></script>
    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
    <script src="../static/public/js/sns.js"></script>
    <script src="../static/public/js/baekchos2.js"></script>

</head>
<body class="skin_wrap">

<input id="invID" name="invID" type="hidden" value="381936"/>
<input id="invCode" name="invCode" type="hidden" value="B3080631"/>
<input id="invSkinCode" name="invSkinCode" type="hidden" value="WD076"/>

<input id="invTitle" name="invTitle" type="hidden" value="남용 ♥️ 문주 결혼합니다! 🧚‍♀️🧚‍♂️"/>
<input id="invMainImage" name="invMainImage" type="hidden" value="../static/Photos/mainimage.jpg"/>
<input id="commentYN" name="commentYN" type="hidden" value="Y"/>
<input id="evtDate" name="evtDate" type="hidden" value="2021.  02.  28. Sun"/>
<input id="dday" name="dday" type="hidden" value="2021-02-28 Sun"/>
<input id="evtTimeH" name="evtTimeH" type="hidden" value="3"/>
<input id="evtTimeM" name="evtTimeM" type="hidden" value="30"/>
<input id="evtTimeCH" name="evtTimeCH" type="hidden" value="PM"/>

<input id="locName" name="locName" type="hidden" value="아펠가모 반포"/>
<input id="locDetail" name="locDetail" type="hidden" value="   "/>
<input id="invGreeting" name="invGreeting" type="hidden"
       value="저희를 사랑해주시는 여러분들의 축복 속에&lt;br />진실하고 순수한 사랑을 약속하고자 합니다.&lt;br />아직은 쌀쌀한 기운이 남아있는 이른 봄,&lt;br />오셔서 따듯한 온기로 채워주시면 감사하겠습니다.&lt;br />&lt;br />코로나로 어려운 요즘이지만 그 끝을&lt;br />예측할 수 없기에 결혼식을 미루지 않고 &lt;br />예정대로 진행하기로 하였습니다.&lt;br />저희가 부부가 되어 내딛는 첫 발걸음을 &lt;br />축복해주시는 모든 분께 진심으로 감사드리며,&lt;br />늘 건강하시고 평안하시길 기원합니다."/>
<input id="galleryYN" name="galleryYN" type="hidden" value="Y"/>
<input id="galType" name="galType" type="hidden" value="S"/>
<input id="videoYN" name="videoYN" type="hidden" value="N"/>
<input id="vidType" name="vidType" type="hidden" value="VYTB"/>
<input id="vidURL" name="vidURL" type="hidden" value="https://youtu.be/STwHSJSA86c?rel=0"/>

<input id="locAddr" name="locAddr" type="hidden" value="서울 서초구 반포대로 235 효성빌딩 LL층"/>
<input id="locTel" name="locTel" type="hidden" value="02-3431-0230"/>
<input id="locMapImage" name="locMapImage" type="hidden" value=""/>
<input id="locMapLat" name="locMapLat" type="hidden" value="37.5006686"/>
<input id="locMapLng" name="locMapLng" type="hidden" value="127.0032572"/>
<input id="locMapType" name="locMapType" type="hidden" value="MGGL"/>
<input id="input_hall" name="input_hall" type="hidden" value="아펠가모 반포"/>

<input id="grmName" name="grmName" type="hidden" value="백남용"/><input id="grmMobile" name="grmMobile" type="hidden" value="010-7580-1240"/>
<input id="brdName" name="brdName" type="hidden" value="조문주"/><input id="brdMobile" name="brdMobile" type="hidden" value=""/>
<input id="hostYN" name="hostYN" type="hidden" value="Y"/>
<input id="grmHostRel1" name="grmHostRel1" type="hidden" value="아버지"/><input id="grmHostName1" name="grmHostName1" type="hidden" value="백낙중"/><input id="grmHostMobile1" name="grmHostMobile1" type="hidden" value=""/>
<input id="grmHostRel2" name="grmHostRel2" type="hidden" value="어머니"/><input id="grmHostName2" name="grmHostName2" type="hidden" value="김옥선"/><input id="grmHostMobile2" name="grmHostMobile2" type="hidden" value=""/>
<input id="brdHostRel1" name="brdHostRel1" type="hidden" value="아버지"/><input id="brdHostName1" name="brdHostName1" type="hidden" value="조승희"/><input id="brdHostMobile1" name="brdHostMobile1" type="hidden" value=""/>
<input id="brdHostRel2" name="brdHostRel2" type="hidden" value="어머니"/><input id="brdHostName2" name="brdHostName2" type="hidden" value="김인영"/><input id="brdHostMobile2" name="brdHostMobile2" type="hidden" value=""/>
<input id="grm_account_bank" name="grm_account_bank" type="hidden" value="KB국민"/><input id="grm_account_num" name="grm_account_num" type="hidden" value="96589120258"/>
<input id="brd_account_bank" name="brd_account_bank" type="hidden" value=""/><input id="brd_account_num" name="brd_account_num" type="hidden" value="" />

<body class="skin_wrap">
<div class="wrap w_skin_img65">
    <h1 class="hidden">청첩장</h1>
    <!-- 스킨 -->
    <div class="mobile_wrap">
        <!-- 표지 -->
        <header id="start" class="pages want_day_focus input_time_focus input_minute_focus input_husband_focus input_wife_focus input_hall_focus input_floor_focus">
            <p class="visual">
                <!--<img src="../static/resources/skin/w_skin_img65/img_visual.png" alt="시작" style="width:100%;">-->
            <p class="main_pohoto"><img src="../static/resources/skin/w_skin_img65/top_img.png" alt="" style="width:100%;"></p>
            </p>
            <div class="position">
                <img src="../static/resources/skin/w_skin_img65/top_img_tit.png" alt="" style="width: 220px;padding: 0 0 19px 0;">
                <ul class="name">
                    <li class="input_husband"></li>
                    <li style="font-size:16px; color:#1c150d;">&</li>
                    <li class="input_wife"></li>
                </ul>
                <p class="time">
                    <span class="want_day"></span>
                    <span class="input_time_ch"></span>
                    <span class="input_time"></span>:<span class="input_minute"></span>
                </p>
                <p class="address"><span class="input_hall"></span> <span class="input_floor"></span></p>
            </div>
        </header>

        <!-- / 표지 -->
        <!-- 초대합니다 -->
        <div id="greeting" class="pages input_greeting_focus">

            <!--<div style="position:relative;width:100%; display:block; overflow:hidden; background:#f9fff5;">-->

            <h2 style="text-align:center;"><img src="../static/resources/skin/w_skin_img65/tit_greeting.png" style="width: 37%;"></h2>
            <!--<img src="../static/resources/skin/w_skin_img65/tit_gr_bak.png" alt="" style="position:absolute; bottom:0; left:0; width:96px;">-->
            <div style="position:relative">
                <div class="greeting input_greeting">
                    서로가 마주 보며 다져온 사랑을<br>이제 함께 한 곳을 바라보며<br>걸어갈 수 있는 큰 사랑으로 키우고자 합니다.<br>저희 두 사람이 사랑의 이름으로<br>지켜나갈 수 있게 앞날을<br>
                    축복해 주시면 감사하겠습니다.
                </div>
            </div>
            <!--</div>-->


            <div class="call_area">
                <dl class="husband">
                    <dt><span class="blue">신랑</span> <span class="input_husband"></span></dt>
                    <dd><a href="tel:010-0000-0000"><img src="../static/resources/skin/w_skin_img65/btn_tel01.png" width="27"></a></dd>
                    <dd><a href="sms:010-1234-5678"><img src="../static/resources/skin/w_skin_img65/btn_sms02.png" width="27"></a></dd>
                </dl>
                <dl class="wife">
                    <dt><span class="pink">신부</span> <span class="input_wife"></span></dt>
                    <dd><a href="tel:010-0000-0000"><img src="../static/resources/skin/w_skin_img65/btn_tel01.png" width="27"></a></dd>
                    <dd><a href="sms:010-1234-5678"><img src="../static/resources/skin/w_skin_img65/btn_sms02.png" width="27"></a></dd>
                </dl>
                <!-- 혼주 -->
                <!--div><img src="../static/resources/skin/w_skin_img47/bg_line.png"/></div-->
                <div class="parent_contect input_blue_p_focus input_blue_m_focus input_pink_p_focus input_pink_m_focus input_blue_p_n_focus input_blue_m_n_focus input_pink_p_n_focus input_pink_m_n_focus select_input1_focus select_input2_focus select_input3_focus select_input4_focus">
                    <p class="btn_toggle"><a href="#url"></a></p>
                    <ul>
                        <li class="husband">
                            <strong><span>신랑측 혼주</span></strong>
                            <ul class="toggle">
                                <li>
                                    <span class="blue input_blue_p select_input1">아버지</span> <span class="input_blue_p_n"></span>
                                    <ul class="btn_contact">
                                        <li><a href="tel:010-0000-0000"><img src="../static/resources/skin/w_skin_img65/btn_tel03.png" width="27"></a></li>
                                        <li><a href="sms:010-1234-5678"><img src="../static/resources/skin/w_skin_img65/btn_sms03.png" width="27"></a></li>
                                    </ul>
                                </li>
                                <li>
                                    <span class="blue input_blue_m select_input2">어머니</span> <span class="input_blue_m_n"></span>
                                    <ul class="btn_contact">
                                        <li><a href="tel:010-0000-0000"><img src="../static/resources/skin/w_skin_img65/btn_tel03.png" width="27"></a></li>
                                        <li><a href="sms:010-1234-5678"><img src="../static/resources/skin/w_skin_img65/btn_sms03.png" width="27"></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="wife">
                            <strong><span class="dot_line">신부측 혼주</span></strong>
                            <ul class="dot_line toggle">
                                <li>
                                    <span class="pink input_pink_p select_input3">아버지</span> <span class="input_pink_p_n"></span>
                                    <ul class="btn_contact">
                                        <li><a href="tel:010-0000-0000"><img src="../static/resources/skin/w_skin_img65/btn_tel03.png" width="27"></a></li>
                                        <li><a href="sms:010-1234-5678"><img src="../static/resources/skin/w_skin_img65/btn_sms03.png" width="27"></a></li>
                                    </ul>
                                </li>
                                <li>
                                    <span class="pink input_pink_m select_input4">어머니</span> <span class="input_pink_m_n"></span>
                                    <ul class="btn_contact">
                                        <li><a href="tel:010-0000-0000"><img src="../static/resources/skin/w_skin_img65/btn_tel03.png" width="27"></a></li>
                                        <li><a href="sms:010-1234-5678"><img src="../static/resources/skin/w_skin_img65/btn_sms03.png" width="27"></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- / 혼주 -->
            </div>
        </div>
        <!-- / 초대합니다 -->
        <!-- 갤러리 -->
        <div id="gallery" class="pages" style="position:relative;">
            <!--<img src="../static/resources/skin/w_skin_img65/tit_gr_bak.png" alt="" style="width:32%; position:absolute;right:0; top:0; z-index:-9;">-->
            <h2 style="padding:11% 0 20px 0; text-align:center;"><img src="../static/resources/skin/w_skin_img65/tit_gallery.png" alt="gallery" style="width:34%;"></h2>
            <!-- 갤러리 타입 1 -->
            <div id="gallery_type1" class="skin_gallery_type">
                <!-- a href="팝업이미지" background="섬네일 이미지" data-size=이미지 원본 사이즈 -->
                <div class="skin_gallery">
                    <figure><a href="../static/Photos/f154f2cd-fd31-4071-9e63-7a4943cebed4.jpg" style="background:url(../static/Photos/f154f2cd-fd31-4071-9e63-7a4943cebed4.jpg) no-repeat center center" itemprop="contentUrl" data-size="700x466.9" class="setimgsize"><img
                            src="../static/resources/order/img_frame.png" class="img_frame" itemprop="thumbnail" alt=""></a></figure>
                    <figure><a href="../static/Photos/0389bb6a-9902-4d30-b6b3-149877bd0ec0.jpg" style="background:url(../static/Photos/0389bb6a-9902-4d30-b6b3-149877bd0ec0.jpg) no-repeat center center" itemprop="contentUrl" data-size="700x466.9" class="setimgsize"><img
                            src="../static/resources/order/img_frame.png" class="img_frame" itemprop="thumbnail" alt=""></a></figure>
                    <figure><a href="../static/Photos/eafdf84e-4416-44a9-b264-c0dc166fe4a7.jpg" style="background:url(../static/Photos/eafdf84e-4416-44a9-b264-c0dc166fe4a7.jpg) no-repeat center center" itemprop="contentUrl" data-size="700x466.9" class="setimgsize"><img
                            src="../static/resources/order/img_frame.png" class="img_frame" itemprop="thumbnail" alt=""></a></figure>
                    <figure><a href="../static/Photos/61743e1d-9eda-4039-a3d6-4c73c6e23ad5.jpg" style="background:url(../static/Photos/61743e1d-9eda-4039-a3d6-4c73c6e23ad5.jpg) no-repeat center center" itemprop="contentUrl" data-size="700x466.9" class="setimgsize"><img
                            src="../static/resources/order/img_frame.png" class="img_frame" itemprop="thumbnail" alt=""></a></figure>
                    <figure><a href="../static/Photos/c099daba-cc18-4a7a-9db5-78e276111db4.jpg" style="background:url(../static/Photos/c099daba-cc18-4a7a-9db5-78e276111db4.jpg) no-repeat center center" itemprop="contentUrl" data-size="700x466.9" class="setimgsize"><img
                            src="../static/resources/order/img_frame.png" class="img_frame" itemprop="thumbnail" alt=""></a></figure>
                    <figure><a href="../static/Photos/01999ff6-c5c8-4afd-8c93-bdf66a3f3da8.jpg" style="background:url(../static/Photos/01999ff6-c5c8-4afd-8c93-bdf66a3f3da8.jpg) no-repeat center center" itemprop="contentUrl" data-size="700x466.9" class="setimgsize"><img
                            src="../static/resources/order/img_frame.png" class="img_frame" itemprop="thumbnail" alt=""></a></figure>
                    <figure><a href="../static/Photos/3bb12e7a-d4cc-4b9a-8943-54e37e407df0.jpg" style="background:url(../static/Photos/3bb12e7a-d4cc-4b9a-8943-54e37e407df0.jpg) no-repeat center center" itemprop="contentUrl" data-size="466.9x700" class="setimgsize"><img
                            src="../static/resources/order/img_frame.png" class="img_frame" itemprop="thumbnail" alt=""></a></figure>
                    <figure><a href="../static/Photos/aaef8488-b85e-41a8-9381-9f11e2a6ff00.jpg" style="background:url(../static/Photos/aaef8488-b85e-41a8-9381-9f11e2a6ff00.jpg) no-repeat center center" itemprop="contentUrl" data-size="466.9x700" class="setimgsize"><img
                            src="../static/resources/order/img_frame.png" class="img_frame" itemprop="thumbnail" alt=""></a></figure>
                    <figure><a href="../static/Photos/a55f3216-e136-45a1-ac8a-c4f3dc88f66e.jpg" style="background:url(../static/Photos/a55f3216-e136-45a1-ac8a-c4f3dc88f66e.jpg) no-repeat center center" itemprop="contentUrl" data-size="700x466.9" class="setimgsize"><img
                            src="../static/resources/order/img_frame.png" class="img_frame" itemprop="thumbnail" alt=""></a></figure>
                    <figure><a href="../static/Photos/4bff38f5-4c76-4f1b-ad1b-6d4f18047cf0.jpg" style="background:url(../static/Photos/4bff38f5-4c76-4f1b-ad1b-6d4f18047cf0.jpg) no-repeat center center" itemprop="contentUrl" data-size="700x466.2" class="setimgsize"><img
                            src="../static/resources/order/img_frame.png" class="img_frame" itemprop="thumbnail" alt=""></a></figure>
                    <figure><a href="../static/Photos/16c05c7e-e745-4077-a4c4-fb8b926f97ff.jpg" style="background:url(../static/Photos/16c05c7e-e745-4077-a4c4-fb8b926f97ff.jpg) no-repeat center center" itemprop="contentUrl" data-size="700x466.9" class="setimgsize"><img
                            src="../static/resources/order/img_frame.png" class="img_frame" itemprop="thumbnail" alt=""></a></figure>
                    <figure><a href="../static/Photos/b16bcb94-07bd-4df9-b3b4-675991a54300.jpg" style="background:url(../static/Photos/b16bcb94-07bd-4df9-b3b4-675991a54300.jpg) no-repeat center center" itemprop="contentUrl" data-size="700x466.9" class="setimgsize"><img
                            src="../static/resources/order/img_frame.png" class="img_frame" itemprop="thumbnail" alt=""></a></figure>
                </div>

                <!-- 갤러리 확대 -->
                <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

                    <!-- Background of PhotoSwipe.
                    It's a separate element as animating opacity is faster than rgba(). -->
                    <div class="pswp__bg"></div>

                    <!-- Slides wrapper with overflow:hidden. -->
                    <div class="pswp__scroll-wrap">

                        <!-- Container that holds slides.
                        PhotoSwipe keeps only 3 of them in the DOM to save memory.
                        Don't modify these 3 pswp__item elements, data is added later on. -->
                        <div class="pswp__container">
                            <div class="pswp__item"></div>
                            <div class="pswp__item"></div>
                            <div class="pswp__item"></div>
                        </div>

                        <!-- Default(PhotoSwipeUI_Default) interface on top of sliding area.Can be changed. -->
                        <div class="pswp__ui pswp__ui--hidden">
                            <div class="pswp__top-bar">

                                <!--  Controls are self-explanatory.Order can be changed. -->

                                <div class="pswp__counter"></div>
                                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                                <button class="pswp__button pswp__button--share" title="Share"></button>
                                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                                <!-- element will get class pswp__preloader--active when preloader is running -->
                                <div class="pswp__preloader">
                                    <div class="pswp__preloader__icn">
                                        <div class="pswp__preloader__cut">
                                            <div class="pswp__preloader__donut"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                                <div class="pswp__share-tooltip"></div>
                            </div>
                            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
                            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
                            <div class="pswp__caption">
                                <div class="pswp__caption__center"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / 갤러리 확대 -->
            </div>
            <!-- / 갤러리 타입 1 -->
            <!-- 갤러리 타입 2 -->
            <div id="gallery_type2" class="skin_gallery_type">
                <ul>

                    <li><img src="../static/Photos/f154f2cd-fd31-4071-9e63-7a4943cebed4.jpg" alt=""/></li>
                    <li><img src="../static/Photos/0389bb6a-9902-4d30-b6b3-149877bd0ec0.jpg" alt=""/></li>
                    <li><img src="../static/Photos/eafdf84e-4416-44a9-b264-c0dc166fe4a7.jpg" alt=""/></li>
                    <li><img src="../static/Photos/61743e1d-9eda-4039-a3d6-4c73c6e23ad5.jpg" alt=""/></li>
                    <li><img src="../static/Photos/c099daba-cc18-4a7a-9db5-78e276111db4.jpg" alt=""/></li>
                    <li><img src="../static/Photos/01999ff6-c5c8-4afd-8c93-bdf66a3f3da8.jpg" alt=""/></li>
                    <li class="overCount"><img src="../static/Photos/3bb12e7a-d4cc-4b9a-8943-54e37e407df0.jpg" alt=""/></li>
                    <li class="overCount"><img src="../static/Photos/aaef8488-b85e-41a8-9381-9f11e2a6ff00.jpg" alt=""/></li>
                    <li class="overCount"><img src="../static/Photos/a55f3216-e136-45a1-ac8a-c4f3dc88f66e.jpg" alt=""/></li>
                    <li class="overCount"><img src="../static/Photos/4bff38f5-4c76-4f1b-ad1b-6d4f18047cf0.jpg" alt=""/></li>
                    <li class="overCount"><img src="../static/Photos/16c05c7e-e745-4077-a4c4-fb8b926f97ff.jpg" alt=""/></li>
                    <li class="overCount"><img src="../static/Photos/b16bcb94-07bd-4df9-b3b4-675991a54300.jpg" alt=""/></li>
                </ul>
                <a href="#more" class="b_btn type3 galMore" style="width:100%;background-color:#666;"><span>더보기</span></a>
            </div>
            <!-- / 갤러리 타입 2 -->
            <!--<p class="no_gallery">"등록된 이미지가 없습니다"</p>-->

        </div>
        <!-- / 갤러리 -->
        <!-- 영상 -->
        <div id="movie" class="pages input_movie_focus" style="display: block;background: #f9f9f9; padding:0 0 15% 0;">
            <h2><img src="../static/resources/skin/w_skin_img65/tit_movie.png" style="width: 23%; margin: 3% 0 5% 0;" alt="영상보기"></h2>
            <div class="input_movie embed-container">"등록된 영상이 없습니다"</div>
        </div>
        <!-- / 영상 -->
        <!-- 오시는길 -->
        <div id="location" class="pages input_etel_focus input_address_focus">

            <h2><img src="../static/resources/skin/w_skin_img65/tit_map.png" alt="찾아오시는 길" style=" width: 37%;	margin: 3% 0 5% 0;"></h2>

            <div class="map_wrap"></div>
            <ul class="navi">
                <li><a href="#"><span class="txt">네이버지도 바로가기</span></a></li>
            </ul>

            <dl class="address">
                <dt><span class="input_hall"></span> <span class="input_floor"></span></dt>
                <dd class="input_address"></dd>
                <dd class="input_etel"></dd>
                <dd class="icon_tel"><a href="tel:02-1234-5678"><img src="../static/resources/skin/w_skin_img65/btn_tel03.png" width="27px"></a></dd>
            </dl>

            <ul class="hall_info hall_info1_focus hall_info2_focus hall_info3_focus hall_info4_focus hall_info5_focus hall_info6_focus hall_info7_focus hall_info8_focus hall_info9_focus hall_info10_focus hall_info11_focus hall_info12_focus">

                <li id="hall_info1_txt"><strong id="hall_info1">버스안내</strong> <span class="hall_info1">서울지방조달청·서울성모병원 하차 후 도보 5분<br/>간선버스: 405, 740<br/>지선버스: 5413</span></li>
                <li id="hall_info2_txt" style="display:none;"><strong id="hall_info2">자가용안내</strong> <span class="hall_info2"></span></li>
                <li id="hall_info3_txt"><strong id="hall_info3">지하철안내</strong> <span class="hall_info3">고속터미널역(3·7·9호선) 5번 출구에서 100m (도보 10분)<br/>고속터미널역 5번 출구로 나와 서래공원 방면 <br/>횡단보도를 건넌 후 첫 번째 건물(반포 효성빌딩) LL층<br/>※ 7호선 쪽으로 오셔야 5번 출구를 쉽게 찾으실 수 <br/>있습니다.</span></li>
                <li id="hall_info4_txt"><strong id="hall_info4">주차안내</strong> <span class="hall_info4">효성빌딩 내 주차장 무료이용 가능 (2시간)<br/>※ 예식장 내 비치된 주차 도장을 찍어주세요.</span></li>
                <li id="hall_info5_txt" style="display:none;"><strong id="hall_info5">피로연안내</strong> <span class="hall_info5"></span></li>
                <li id="hall_info6_txt" style="display:none;"><strong id="hall_info6">기타안내</strong> <span class="hall_info6"></span></li>
                <li id="hall_info7_txt" style="display:none;"><strong id="hall_info7"></strong> <span class="hall_info7"></span></li>
                <li id="hall_info8_txt" style="display:none;"><strong id="hall_info8"></strong> <span class="hall_info8"></span></li>
                <li id="hall_info9_txt" style="display:none;"><strong id="hall_info9"></strong> <span class="hall_info9"></span></li>
                <li id="hall_info10_txt" style="display:none;"><strong id="hall_info10"></strong> <span class="hall_info10"></span></li>
                <li id="hall_info11_txt" style="display:none;"><strong id="hall_info11"></strong> <span class="hall_info11"></span></li>
                <li id="hall_info12_txt" style="display:none;"><strong id="hall_info12"></strong> <span class="hall_info12"></span></li>


            </ul>
        </div>
        <!-- / 오시는길 -->
        <!-- toss -->
        <div id="MoneyGift" style="display:none;">
            <div id="toss_a">
                <a href="#" class="toss" onClick="go_popup()"><img src="../static/resources/img_inc/toss_btn.png" alt="toss"></a>
            </div>
        </div>
        <!-- /toss -->

        <!-- 축하 메세지 -->
        <div id="guest_book" style="position:relative;" class="pages">
            <div style="background:#f7f7f7;">
                <h2 style="position: relative; top: 0px;"><img src="../static/resources/skin/w_skin_img65/tit_guest_book.png" style=" width: 42%; margin: 3% 0 5% 0;"></h2>

                <form action="/B3080631" id="msgForm" method="post"><input name="__RequestVerificationToken" type="hidden" value="FaqcqjNesFQnMq-ZKqUQSuxjNal10pRcA4czKchFbt0ki42AcZhAPizNIrRpmQ6Cvtr05sGvn0jNDTJC6ba-aFw5W7j2jKMtU9TSV-n2RJc1"/> <input type="hidden" name="cmtInvID" id="cmtInvID"/>
                    <input type="hidden" name="cmtInvCode" id="cmtInvCode"/>
                    <div class="massage_box">
                        <ul class="massage">
                            <li>
                                <span class="tt">Name</span>:<input type="text" class="" id="cmtName" name="cmtName" maxlength="10"/>
                            </li>
                            <li>
                                <span class="tt">Password</span>:<input type="password" class="" id="cmtPwd" name="cmtPwd" maxlength="16"/>
                            </li>
                            <li>
                                <span class="tt">Message</span>:<input type="text" class="" id="cmtMsg" name="cmtMsg" maxlength="300"/>
                            </li>
                        </ul>
                    </div>
                    <p class="btn_write"><a href="#" id="cmtWrite"><span>축하메시지 남기기</span></a></p>
                </form>


                <div class="massage_list">
                    <p class="name">지안이아빠</p>
                    <div class="txt">
                        <span>백남 추카추카!!♡</span>
                        <p class="txt_del"><a href="#">X</a></p>
                        <div class="password_input">
                            <p class="password"><input type="password" placeholder="Password" id="cpw_1636521" class="commentpwd"><input type="hidden" id="cid_1636521" name="cid_1636521" value="1636521" class="cmtIDs"/></p>
                            <p class="b_talign_c b_mt10"><span class="btn"><a href="#" onclick="delComment(1636521);return false;">확인</a></span></p>
                        </div>
                    </div>
                    <p class="time">
                        2021-02-27 19:25:25 </p>
                </div>
                <div class="massage_list">
                    <p class="name">희재</p>
                    <div class="txt">
                        <span>내가 세상에서 제일 사랑하는 우리 언니❤️!!결혼 축하해!!&#127881;  주님의 사랑 가득하길 축복하고, 항상 건강하고 행복한 날들만 가득하길 기도해~!~! &#128591;  항상 응원하고 따랑해&#128525;❤️&#128525; 알럽유❤️❤️❤️❤️❤️</span>
                        <p class="txt_del"><a href="#">X</a></p>
                        <div class="password_input">
                            <p class="password"><input type="password" placeholder="Password" id="cpw_1615701" class="commentpwd"><input type="hidden" id="cid_1615701" name="cid_1615701" value="1615701" class="cmtIDs"/></p>
                            <p class="b_talign_c b_mt10"><span class="btn"><a href="#" onclick="delComment(1615701);return false;">확인</a></span></p>
                        </div>
                    </div>
                    <p class="time">
                        2021-02-07 12:12:12 </p>
                </div>
                <div class="massage_list">
                    <p class="name">조승희</p>
                    <div class="txt">
                        <span>Time&#39;s Up and Be Happy! - 익숙한 것으로부터 결별, 새로운 변화에 익숙, 그리고 삶은 주어진 것이 아니라 함께 만드는 것! 사랑한다, 축하한다, 그래서 더 행복해라 !</span>
                        <p class="txt_del"><a href="#">X</a></p>
                        <div class="password_input">
                            <p class="password"><input type="password" placeholder="Password" id="cpw_1599407" class="commentpwd"><input type="hidden" id="cid_1599407" name="cid_1599407" value="1599407" class="cmtIDs"/></p>
                            <p class="b_talign_c b_mt10"><span class="btn"><a href="#" onclick="delComment(1599407);return false;">확인</a></span></p>
                        </div>
                    </div>
                    <p class="time">
                        2021-01-19 19:58:29 </p>
                </div>
                <div class="massage_list dummy" style="display:none;"></div>

                <ul class="massage_btn">
                    <li class="more"><a href="#">더보기</a></li>
                    <li class="full"><a href="#">전체보기</a></li>
                </ul>
            </div>
        </div>
        <!-- / 축하 메세지 -->


        <!-- 신랑 계좌정보 레이어팝 -->
        <div id="grmAcPop" class=""
        <!-- 신부 계좌정보 레이어팝 -->


        <!-- toss 레이어팝 -->
        <!---->
        <div id="popup" class="Pstyle" style="display:none;position:absolute; left:2%; top:120px; margin-top:15%; z-index:1">
            <span class="b-close"><a href="#"><img src="../static/resources/img_inc/popup_close.png"></a></span>
            <div class="content" style="height: auto; width: auto;">
                <div class="popW">
                    <p class="tit"><img src="../static/resources/img_inc/toss_v_tit.png"></p>

                    <!--신랑신부 인사말-->
                    <p class="greeting">
                        자리하시어 빛내주심이<br/>더 없는 기쁨이겠으나<br/>
                        후의를 베풀어 주시고자 하시면<br/>
                        감사한 마음으로 받겠습니다.<br/>
                        바르게 잘 살겠습니다.<br/>감사합니다.
                    </p>
                    <!--신랑신부 인사말-->

                    <p class="from"><span class="dot_l" id="Toss_groomnm">백남용</span> & <span id="Toss_birdenm">조문주</span> <span class="dot_r">올림</span></p>

                    <ul class="toss_v_btn">
                        <li><a href="" target="_blank"><img src="../static/resources/img_inc/toss_v_husband.png"></a></li> <!--신랑에게 축의금보내기-->
                        <li><a href="" target="_blank"><img src="../static/resources/img_inc/toss_v_wife.png"></a></li> <!--신부에게 축의금보내기-->
                    </ul>

                </div>
            </div>
        </div>
        <!--//-->
        <!--레이어팝업소스-->
        <script src="//image.thecard.co.kr/data/event/2017luckybox/jquery.bpopup.min.js"></script>

        <!-- / toss 레이어팝 -->
        <!-- / toss -->
        <!-- footer -->
        <div class="footer">
            <ul class="sns_a">
                <li><a href="#"><img src="../static/resources/img_inc/btn_facebook.png" alt="페이스북"></a></li>
                <li><a href="#"><img src="../static/resources/img_inc/btn_twitter.png" alt="트위터"></a></li>
                <li><a href="javascript:;" id="kakao-link-btn"><img src="../static/resources/img_inc/btn_kakao.png" alt="카카오톡"></a></li>
                <li><a href="javascript:shareStory();"><img src="../static/resources/img_inc/btn_story.png" alt="카카오스토리"></a></li>
            </ul>
            <p class="ci">
                <a href="http://www.bhandscard.com/" target="_blank" style="display:none;" class="bi_SA"><img src="../static/resources/img_inc/logo_bhandscard.png" alt="비핸즈카드"></a>
                <a href="http://www.barunsoncard.com/" target="_blank" style="display:none;" class="bi_SB"><img src="../static/resources/img_inc/logo_barunsoncard.png" alt="바른손카드"></a>
                <a href="http://www.thecard.co.kr/" target="_blank" style="display:none;" class="bi_ST"><img src="../static/resources/img_inc/logo_thecard.png" alt="더카드"></a>
                <a href="http://www.premierpaper.co.kr/" target="_blank" style="display:none;" class="bi_SS"><img src="../static/resources/img_inc/logo_premierpaper.png" alt="프리미어페이퍼"></a>

                <a href="http://www.barunsonmall.com/" target="_blank" style="display:none;" class="bi_B bi_C bi_H"><img src="../static/resources/img_inc/logo_barunsoncard_jehu.png" alt="바른손카드 공식제휴사이트"></a>
                <a href="#" style="display:none;" class="bi_BE"><img src="../static/resources/img_inc/logo_bewedding.png" alt="비웨딩"></a>
            </p>
        </div>
        <!-- / footer -->
    </div>
    <!-- / 스킨 -->
</div>
<script type="text/javascript" src="../static/public/js/ui/photoswipe-gallery.js"></script>
</body>
</html>